.error {
  &__code {
    position: absolute;
    left: 23vw;
    top: 0%;
    font-size: 18vh;
  }

  &__message {
    position: absolute;
    left: 45%;
    top: 35%;
    font-size: 6vh;
    text-align: center;
  }

  &__link {
    position: absolute;
    left: 54%;
    top: 65%;
    font-size: 4vh;
  }
}

@media screen and (max-width: 600px) {
  .error {
    &__code {
      left: 6%;
      top: 25%;
      font-size: 19vw;
    }

    &__message {
      left: 42%;
      top: 42%;
      font-size: 8vw;
    }
  }
}
