@import "static/styles/variables";

.auth-form {
  position: absolute;
  top: 15%;
  left: 37%;
  width: 26%;
  height: 380px;
  border-radius: 15px;
  background: $gray;
  padding: 20px;
  display: flex;
  flex-direction: column;

  > * {
    margin: 10px 0;
  }

  &__no-account {
    align-self: center;
  }

  &__label {
    align-self: center;
  }

  &__button {
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  .auth-form {
    left: 12%;
    width: 68%;
  }
}
