extends ./template

block content
    a(href="pages/authorization/authorization.pug") auth
    br
    a(href="pages/chat/chat.pug") chat
    br
    a(href="pages/errors/404/404.pug") 404
    br
    a(href="pages/errors/500/500.pug") 500
