block variable

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon" href="~../img/favicon.ico" type="image/x-icon")
        title heyChat
        link(rel='stylesheet' href='~../styles/index.scss')
        script(src="https://kit.fontawesome.com/3cccc123c0.js" crossorigin="anonymous")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    body
        block content

        script(src='index.js')
