extends ../../../template

block content
    img.background-logo(src="../../../../img/logo.svg" alt="logo")
    h1.error__code 404
    h2.error__message Ошиблись адресом
    a.error__link(href='/pages/chat/chat.pug') Назад к чатам
